[submodule "themisto"]
	path = themisto
	url = https://github.com/algbio/themisto
[submodule "bwa"]
	path = bwa
	url = https://github.com/karel-brinda/bwa
[submodule "bcalm"]
	path = bcalm
	url = https://github.com/GATB/bcalm
